node_modules
dist
npm-debug.log
pnpm-debug.log
yarn-error.log
.git
.env
.dockerignore
Dockerfile
docker-compose.yml
test
coverage
.eslintrc.js
.prettierrc
README.md
nest-cli.json
tsconfig.json
tsconfig.build.json
prisma/seed.ts
docs
*.md
